.sahand{
  border: 2px solid Black;
  width:250px;
  height: 150px;
  border-radius:30px;
  padding:0px;
  margin:0px;
  box-shadow:0px 0px 5px 0px snow;
  
  
}
body{
  background-color:#00203FFF;
  padding:0px;
  margin:0px;
}
input{
  border:2px solid #195190FF;
  border-radius: 25px;

width:120px;
  height: 30px;

  
}
